<div id="{{fileHtmlId}}" class="d2h-file-wrapper" data-lang="{{file.language}}">
    <div class="d2h-file-header">
      {{{filePath}}}
    </div>
    <div class="d2h-files-diff">
        <div class="d2h-wrapped-file-side-diff">
            <div class="d2h-code-wrapper">
                <table class="d2h-diff-table fixed-layout">
                    <tbody class="d2h-diff-tbody">
                    {{{diffs}}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>