<tr>
    <td class="{{lineClass}} {{type}}">
      {{{lineNumber}}}
    </td>
    <td class="{{type}}">
        <div class="{{contentClass}} {{type}}">
        {{#prefix}}
            <span class="d2h-code-line-prefix">{{{prefix}}}</span>
        {{/prefix}}
        {{#content}}
            <span class="d2h-wrapped-code-line-ctn">{{{content}}}</span>
        {{/content}}
        </div>
    </td>
</tr>